body {
  background: linear-gradient(to left, white 65%, #3D6FDB 35%);
  margin: 50px;
  overflow: hidden;
}

/* HEADER SECTION */

header {
}
.logo {
  width: 130px;
}

.burger {
  height: 35px;
  float: right;
  margin: 5px;
}

/* SECTION SECTION */

section {
  display: flex;
  margin: 150px;
  font-family: "Roboto", sans-serif;
}

.name {
  font-size: 32px;
  font-weight: bold;
}
section span {
    color: #3D6FDB;
  }

.title {
    font-size: 20px;
    margin-top: -20px;
    color: rgb(37, 37, 37)
}

section p {
    font-size: 18px;
}

button {
  border-radius: 40px;
  background-color: white;
  border: 3px solid black;
  color: black;
  padding: 10px;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  letter-spacing: 0.3rem;
  width: 180px;
}

.portfolio {
  background-color: #3D6FDB;
  border: none;
  color: white;
}

.resume {
    margin-left: 10px;
}

.designer {
  height: 750px;
  width: auto;
  justify-content: center;
  margin-top: 1px;
  position: relative;
  bottom: 280px;
  left: 160px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.topo {
  margin-left: 200px;
}

hr {
  height: 4px;
  background-color: #3D6FDB;
  width: 100px;
  border: 2px;
  position: absolute;
  top: 403px;
  left: 780px;
}

/* FOOTER SECTION */

footer {
  color: white;
  position: relative;
  bottom: 600px;
  font-family: "Montserrat", sans-serif;
}

footer p {
    margin-top: -15px;
    font-weight: 100;
}

footer img {
  height: 40px;
  padding-right: 30px;
  margin-left: -10px;
  margin-top: -10px;
}
