body {
  background: linear-gradient(to left, white 65%, #1229ac 35%);
  margin: 50px;
}

/* HEADER SECTION */

header {
}
.logo {
  width: 130px;
}

.burger {
  height: 35px;
  float: right;
  margin: 5px;
}

/* SECTION SECTION */

section {
  display: flex;
  margin: 150px;
  font-family: 'Roboto', sans-serif;
}

section span {
  color: #1229ac;
}

button {
  border-radius: 30px;
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 20px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  letter-spacing: 0.3rem;
  width: 180px;
}

.portfolio {
  background-color: #1229ac;
  border: none;
  color: white;
}

.designer {
  height: 750px;
  width: auto;
  justify-content: center;
  margin-top: 1px;
  position: relative;
  bottom: 280px;
  left: 160px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.topo {
  margin-left: 200px;
}

hr {
  height: 4px;
  background-color: #1229ac;
  width: 100px;
  border: 2px;
  position: absolute;
  top: 385px;
  left: 780px;
}

/* FOOTER SECTION */

footer {
  color: white;
  position: relative;
  bottom: 580px;
  font-family: 'Roboto', sans-serif;
}

footer img {
  height: 40px;
  padding: 10px;
  margin-right: 5px;
}
